.title {
  font-size: 3rem;
  font-family: 'Avenir Bold';
  position: absolute;
  opacity: 0.08;
  display: inline;
  transition: transform 0.9s ease-out 0s;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5vw;
}
.container {
  position: relative;
  overflow: hidden;
  height: 10vh;
  width: 100vw;
  margin-bottom: 50vh;
}
