.screenshot {
  top: 0;
  width: 65%;
  height: auto;
  position: absolute;
  transition: transform 0.8s ease-out;
}

.screenshot-1 {
  left: -6vw;
  z-index: 2;
  transform: scale(0.9);
}

.screenshot-2 {
  z-index: 2;
  right: -9vw;
  transform: scale(0.8);
}

.screenshot-3 {
  z-index: 1;
  top: 25vh;
  left: -6vw;
  transform: scale(0.7);
}

.screenshot-4 {
  z-index: 1;
  top: 25vh;
  right: -9vw;
  transform: scale(0.68);
}

/* md (landscape phones, tablets, 768px and up) */
@media (min-width: 768px) {
  .screenshot {
    width: 50%;
  }

  .screenshot-1 {
    left: 0;
  }

  .screenshot-2 {
    right: 0;
  }

  .screenshot-3 {
    left: 0;
    margin-top: 10vh;
  }

  .screenshot-4 {
    right: 0;
    margin-top: 15vh;
  }
}

/* lg (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .screenshot {
    width: 50%;
  }
  .screenshot-1 {
    left: 0vw;
  }

  .screenshot-2 {
    right: 0;
  }

  .screenshot-3 {
    left: 0;
    margin-top: 25vh;
  }

  .screenshot-4 {
    right: 0;
    margin-top: 20vh;
  }
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .screenshot {
    width: 65%;
  }

  .screenshot-1 {
    left: -5vw;
    top: 10vh;
  }

  .screenshot-2 {
    right: -3vw;
  }

  .screenshot-3 {
    left: -5vw;
    z-index: 1;
  }

  .screenshot-4 {
    z-index: 1;
    margin-top: 25vh;
    right: -3vw;
  }
}

/* xl (ultra-wide desktops, 1200px and up) */
@media (min-width: 1536px) {
  .screenshot {
    width: 55%;
  }
}
