---
import { Image } from 'astro:assets'
import './styles.css'
---

<section id="projects">
  <div class="description-container">
    <p id="id">01</p>
    <h3 id="title">FR Design system</h3>
    <h4 id="subtitle">Design system lead • Technical PDM</h4>
    <p id="description">
      Multi brand e-commerce design system for websites and native mobile
      applications
    </p>
    <p id="bottom-label">Design System</p>
  </div>
  <div id="screenshots">
    {
      Array.from({ length: 4 }).map((_, index) => (
        <div class="screenshot-wrapper">
          <Image
            width="423"
            height="852"
            class={'screenshot ' + 'screenshot-' + (index + 1)}
            alt="placeholder"
            src="/images/screenshots/placeholder.png"
          />
        </div>
      ))
    }
  </div>
</section>

<script>
  import { getPercentageScrolledFromTop } from '../../utils/scroll'

  const phone1 = document.querySelector('.screenshot-1')
  const phone2 = document.querySelector('.screenshot-2')
  const phone3 = document.querySelector('.screenshot-3')
  const phone4 = document.querySelector('.screenshot-4')

  const containerEL = document.querySelector('#projects')
  const screenshotsContainerEL = document.querySelector('#screenshots')
  const descriptionContainerEL = document.querySelector(
    '.description-container'
  )

  let containerRect = containerEL.getBoundingClientRect()
  let screenshotsContainerRect = screenshotsContainerEL.getBoundingClientRect()
  let CONTAINER_FIXED_THRESHOLD = containerRect.top + window.innerHeight

  window.addEventListener('resize', () => {
    containerRect = containerEL.getBoundingClientRect()
    CONTAINER_FIXED_THRESHOLD = containerRect.top + window.innerHeight
  })

  window.addEventListener('scroll', () => {
    const { style } = descriptionContainerEL
    const outOfFixedRange =
      window.scrollY < containerRect.top ||
      window.scrollY > CONTAINER_FIXED_THRESHOLD

    if (
      window.scrollY > containerRect.top &&
      ['', 'relative'].includes(style.position)
    ) {
      Object.assign(style, { position: 'fixed', top: 0, left: 0 })
    }
    if (outOfFixedRange && style.position === 'fixed') {
      Object.assign(style, { position: 'relative' })
    }
  })

  let scrolledPercentageOffset

  window.addEventListener('scroll', () => {
    if (window.scrollY < screenshotsContainerRect.top - window.innerHeight)
      return
    let scrolledPercentage = getPercentageScrolledFromTop()

    if (!scrolledPercentageOffset) scrolledPercentageOffset = scrolledPercentage

    scrolledPercentage = scrolledPercentage - scrolledPercentageOffset

    phone1.style.transform = `translate(0px,-${
      scrolledPercentage * 8
    }%) scale(0.7)`
    phone2.style.transform = `translate(0px,-${
      scrolledPercentage * 10
    }%) scale(0.6)`
    phone3.style.transform = `translate(0px,-${
      scrolledPercentage * 21
    }%) scale(0.8)`
    phone4.style.transform = `translate(0px,-${
      scrolledPercentage * 16
    }%) scale(0.75)`
  })
</script>
