.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  z-index: 1;
  transition: opacity 0.5s ease;
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 50vw;
  }
}

.main_container {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main_container {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 100vh;
  }
}
