#projects {
  width: 100vw;
  height: 200vh;
  position: relative;
}

#screenshots {
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
}

.screenshot {
  position: absolute;
  width: 70%;
  height: auto;
}

#projects {
  border: solid red 1px;
}

#screenshots-placeholder {
  position: relative;
  background-color: white;
}
#screenshot {
  transition: transform 0.2s ease-out;
}

.screenshot-1 {
  transform: scale(0.7);
  left: -10vw;
  z-index: 2;
}

.screenshot-2 {
  transform: scale(0.6);
  right: 0;
  z-index: 1;
  right: -3vh;
}

.screenshot-3 {
  transform: scale(0.8);
  z-index: 4;
  left: -10vw;
  margin-top: 50vh;
  display: none;
}

.screenshot-4 {
  transform: scale(0.75);
  z-index: 3;
  right: 0;
  margin-top: 30vh;
}

#screenshots {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  top: 100vh;
}

/* xs (phones, 600px and down) */
@media (max-width: 600px) {
}

/* sm (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  html {
    background-color: pink;
  }
}

/* md (landscape phones, tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    background-color: yellow;
  }
}

/* lg (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    background-color: blue;
  }
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    background-color: purple;
  }
}

/* xl (ultra-wide desktops, 1200px and up) */
@media (min-width: 1536px) {
  html {
    background-color: darkorange;
  }
}
