.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-bottom: 120vh;
}

.screenshots {
  width: 100vw;
  height: 25vh;
  right: 0;
  top: 0;
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  top: 100vh;
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .screenshots {
    width: 50vw;
    position: absolute;
  }

  .container {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 100vh;
  }
}

/* xl (ultra-wide desktops, 1200px and up) */
@media (min-width: 1536px) {
  .screenshots {
    max-width: 40vw;
  }
}
