---
import Layout from '../layouts/Layout.astro';
import "../global.css";
import { Icon } from "astro-icon";
import ProjectsSection from "../components/projects-section/component.astro";
import "./index.css"
---

<Layout>
  <main>
    <section id="whoami">
      <h1 id="fullname">Cristian Figueredo</h1>
      <h2 id="role">Mobile Engineer</h2>
    </section>
   <section id="about">
      <h3 class="transparent-title" >ABOUT ME</h3>
      <p class="description">Crafting user friendly and aesthetic UI designs is not just my profession, it's my passion.</p>
    </section>
    <ProjectsSection />
   <section id="skills">
      <h3 class="transparent-title">SKILLS</h3>
      <p class="description">React/React Native NodeJS AstroJS NextJS</p>
    </section>
   <section id="contact">
      <h3 class="transparent-title">CONTACT</h3>
      <div>
        <Icon name="mdi:github" />
        <Icon name="mdi:linkedin" />
        <Icon name="mdi:twitter" />
        <Icon name="mdi:email" />
      </div>
    </section>
  </main>
</Layout>

<script>
  import { getPercentageScrolledFromTop } from "../utils/scroll";

  const titles = document.querySelectorAll(".transparent-title")
   
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      entry.target.classList.toggle("on-viewport", entry.isIntersecting)
    });
  });


  titles.forEach(title => observer.observe(title))

  window.addEventListener("scroll", () => {
    const scrollPercentage = getPercentageScrolledFromTop() 
    titles.forEach(title => {
       if (title.classList.contains("on-viewport")) {
         title.style.transform = `translateX(${scrollPercentage}%)`
      }
    });
  });
</script>

