#whoami {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-bottom: 20vw;
}

#fullname {
  font-size: 3rem;
  font-weight: 100;
  font-family: 'Valencia';
}

#role {
  font-size: 1rem;
  font-family: 'Avenir Regular';
}

#about,
#skills,
#contact {
  position: relative;
  height: 15vh;
  margin-bottom: 50vw;
}

.transparent-title {
  font-size: 3rem;
  font-family: 'Avenir Bold';
  white-space: nowrap;
  opacity: 0.08;
  position: absolute;
  top: 10%;
  transition: transform 0.9s ease-out 0s;
}

.description {
  font-family: 'Avenir Regular';
  font-size: 1rem;
  z-index: 1;
  position: absolute;
  max-width: 40ch;
  top: 3ch;
  text-align: center;
  left: 2ch;
}

[astro-icon] {
  width: min(7vw, 70px);
  height: min(7vw, 70px);
  margin-right: 5vw;
  transition: transform 0.5s ease-out 0s;
}
[astro-icon]:hover {
  transform: scale(1.2);
}

#contact > div {
  position: absolute;
  margin-left: 30%;
  top: min(12vh, 50px);
}

/* xs (phones, 600px and down) */
@media (max-width: 600px) {
  html {
    background-color: red;
  }
}

/* sm (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  html {
    background-color: pink;
  }
}

/* md (landscape phones, tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    background-color: yellow;
  }
  #fullname {
    font-size: 5rem;
  }
  #role {
    font-size: 2rem;
  }
  .description {
    max-width: 60ch;
    left: 5ch;
  }
  .transparent-title {
    font-size: 6rem;
  }
}

/* lg (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    background-color: blue;
  }
  #fullname {
    font-size: 7rem;
  }
  #role {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
}

/* xl (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    background-color: purple;
  }
}

/* xl (ultra-wide desktops, 1200px and up) */
@media (min-width: 1536px) {
  html {
    background-color: darkorange;
  }
 .description {
    font-size: 2rem;
    max-width: 60ch;
    left: 5ch;
  }
  .transparent-title {
    font-size: 8rem;
  }
}
