#whoami {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-bottom: 40vw;
}

h1 {
  font-size: max(12vw, 70px);
  font-weight: 100;
  font-family: 'Valencia';
}

h2 {
  font-size: max(4vw, 23px);
  font-family: 'Avenir Regular';
}

#about,
#skills,
#contact {
  position: relative;
  height: 15vh;
  margin-bottom: 80vw;
}

.transparent-title {
  font-size: min(15vw, 180px);
  font-family: 'Avenir Bold';
  white-space: nowrap;
  opacity: 0.08;
  margin: 0;
  position: absolute;
  top: 10%;
  left: -25%;
  transition: transform 0.9s ease-out 0s;
}

.description {
  font-family: 'Avenir Regular';
  font-size: min(3vw, 30px);
  width: 80vw;
  z-index: 100;
  position: absolute;
  margin-left: 10%;
  top: 20%;
}

[astro-icon] {
  width: min(7vw, 70px);
  height: min(7vw, 70px);
  margin-right: 5vw;
}

#contact > div {
  position: absolute;
  margin-left: 30%;
  top: min(12vh, 50px);
}
