---
import Layout from '../layouts/Layout.astro'
import '../global.css'
import { PROFILE_URL } from '../constants/social-media'
import { BackgroundTitle, ProjectsSection, XDivider } from '../components'
import ScrollDown from '../components/ScrollDown.astro'
import { Icon } from 'astro-icon'
---

<Layout>
  <main>
    <section class="whoami">
      <h1 class="full_name">Cristian Figueredo</h1>
      <h2 class="role">React Native Developer</h2>
      <ScrollDown />
    </section>
    <BackgroundTitle text="ABOUT ME" client:only>
      <p class="description">
        Crafting software that users love isn't just a goal; it's my unwavering
        commitment.
      </p>
    </BackgroundTitle>
    <XDivider size="100vh" />
    <ProjectsSection client:only />
    <XDivider size="70vh" />
    <BackgroundTitle direction="right" text="SKILLS" client:only>
      <p class="description">
        React • React Native • Tailwind • Typescript • Redux • NextJS • Firebase
        • Jest • Git • Github • GraphQL • Detox • Cypress
      </p>
    </BackgroundTitle>
    <XDivider size="70vh" />
    <BackgroundTitle text="CONTACT" client:only>
      <div class="contact-container align-center">
        <a target="_blank" href={PROFILE_URL.GITHUB}>
          <Icon name="mdi:github" />
        </a>
        <a target="_blank" href={PROFILE_URL.LINKEDIN}>
          <Icon name="mdi:linkedin" />
        </a>
        <a target="_blank" href={PROFILE_URL.TWITTER}>
          <Icon name="mdi:twitter" />
        </a>
      </div>
    </BackgroundTitle>
    <XDivider size="30vh" />
  </main>
</Layout>

<style>
  .whoami {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-bottom: 20vw;
    animation: fadeIn 2.5s;
  }

  .full_name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Valencia';
  }

  .role {
    font-size: 1rem;
    font-family: 'Avenir Regular';
  }

  .about,
  .skills,
  .contact {
    position: relative;
    height: 15vh;
    margin-bottom: 50vw;
  }

  .description {
    font-family: 'Avenir Regular';
    font-size: 1.1rem;
    max-width: 40ch;
    top: 3ch;
    text-align: center;
    left: 2ch;
  }

  [astro-icon] {
    width: 2.5em;
    height: 2.5em;
    margin-right: 5vw;
    transition: transform 0.5s ease-out 0s;
  }
  [astro-icon]:hover {
    transform: scale(1.2);
  }

  .contact > div {
    position: absolute;
    margin-left: 30%;
    top: min(12vh, 50px);
  }

  /* sm (portrait tablets and large phones, 600px and up) */
  @media (min-width: 600px) {
    .full_name {
      font-size: 3.5rem;
    }
    .role {
      font-size: 1rem;
    }
  }

  /* md (landscape phones, tablets, 768px and up) */
  @media (min-width: 768px) {
    .full_name {
      font-size: 4rem;
    }
    .role {
      font-size: 1.5rem;
    }
    .description {
      max-width: 40ch;
      left: 5ch;
      font-size: 1.2rem;
    }
    [astro-icon] {
      width: 4em;
      height: 4em;
    }
  }

  /* lg (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    .full_name {
      font-size: 5rem;
    }
    .role {
      font-size: 1.3rem;
    }
    .description {
      font-size: 1.8rem;
      max-width: 50ch;
    }
    [astro-icon] {
      width: 5em;
      height: 5em;
    }
  }

  /* xl (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .full_name {
      font-size: 6rem;
    }
    .contact-container {
      padding-left: 5vw;
    }
    .role {
      font-size: 1.5rem;
    }
  }

  /* xl (ultra-wide desktops, 1536px and up) */
  @media (min-width: 1536px) {
    .description {
      font-size: 2rem;
      max-width: 60ch;
      left: 5ch;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
