---
import Layout from '../layouts/Layout.astro';
import "../global.css";
import { Icon } from "astro-icon";
---

<Layout>
  <main>
    <section id="whoami">
      <h1 id="fullname">Cristian Figueredo</h1>
      <h2 id="role">Software Engineer</h2>
    </section>
   <section id="about">
      <h3 >ABOUT ME</h3>
      <p>Crafting user friendly and aesthetic UI designs is not just my profession, it's my passion.</p>
    </section>
   <section id="skills">
      <h3>SKILLS</h3>
      <p>React/React Native NodeJS AstroJS NextJS</p>
    </section>
   <section id="contact">
      <h3>CONTACT</h3>
      <div>
        <Icon pack="mdi" name="github" />
        <Icon pack="mdi" name="linkedin" />
        <Icon pack="mdi" name="twitter" />
        <Icon pack="mdi" name="email" />
      </div>
    </section>
  </main>
</Layout>

<style>
  #whoami {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;                        
    margin-bottom: 40vw;
  }  

  h1 {
    font-size: max(12vw, 70px);
    font-weight: 100;
    font-family: 'Valencia';
  }

  h2 {
    font-size: max(4vw, 23px);
    font-family: "Avenir Regular";
  }

  #about, #skills, #contact {
    position: relative;
    height: 15vh;
    margin-bottom: 80vw;
  }

  h3 {
    font-size: min(15vw, 180px);
    font-family: "Avenir Bold";
    white-space: nowrap;
    opacity: 0.08;
    margin: 0;
    position: absolute;
    top: 10%;
    left: -25%;
    transition: transform 0.9s ease-out 0s;
  }
  p {
    font-family: "Avenir Regular";
    font-size: min(3vw, 30px);
    width: 80vw;
    z-index: 100;
    position: absolute;
    margin-left: 10%;
    top: 20%;
  }
  [astro-icon] {
    width: min(7vw, 70px);
    height: min(7vw, 70px);
    margin-right: 5vw;
  }
  #contact > div {
    position: absolute;
    margin-left: 30%;
    top: min(12vh, 50px);
  }
</style>

<script>
  const headings = document.querySelectorAll("h3")
  const { documentElement } = document

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      entry.target.classList.toggle("on-viewport", entry.isIntersecting)
    });
  });

  headings.forEach(h3 => observer.observe(h3))

  window.addEventListener("scroll", () => {
    const scrollPercentage = Math.floor(
      ((documentElement.scrollTop + documentElement.clientHeight) /
        documentElement.scrollHeight) * 100,
    ); 
    console.log(scrollPercentage)
    headings.forEach(h3 => {
       if (h3.classList.contains("on-viewport")) {
         h3.style.transform = `translateX(${scrollPercentage * 0.8}%)`
      }
    })
  });
</script>
