<div class="arrow"></div>

<style>
  .arrow,
  .arrow:before {
    position: absolute;
    left: 50%;
  }

  .arrow {
    width: 13px;
    height: 12px;
    top: 90%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #ffffff solid;
    border-bottom: 2px #ffffff solid;
  }

  .arrow:before {
    content: '';
    width: 8px;
    height: 8px;
    top: 60%;
    margin: -11px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }

  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
  }
</style>
