---
import Layout from '../../layouts/Layout.astro'
import '../../global.css'
import {
  ProjectsSection,
  XDivider,
  Header,
  Hero,
  About,
  Skills,
  Testimonials,
  Footer,
} from '../../components'
---

<Layout>
  <main>
    <div class="w-full h-full">
      <Header client:only />
      <Hero client:only />
      <XDivider size="50vh" />
    </div>
    <About client:only />
    <XDivider size="100vh" />
    <ProjectsSection client:only />
    <XDivider size="70vh" />
    <Skills client:only />
    <XDivider size="50vh" />
    <Testimonials client:only />
    <XDivider size="30vh" />
    <Footer client:only />
  </main>
</Layout>

<style>
  /* Global styles handled by Tailwind and Layout */
</style>
