@import 'node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: 'Valencia';
  src: url('/fonts/valencia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('/fonts/avenir/bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('/fonts/avenir/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

a {
  color: black
}
